*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
}
:root {
    --primary-color: rgb(100 21 255);
    --secondary-color: #4a5568;
    --form-primary: #9c27b0;
}
a{
    text-decoration: none;
}
.main-container {
    padding: 0 2rem;
}
.primary-button {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    padding: 1rem 2.5rem;
    font-weight: 600;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: var(--primary-color);
    --tw-text-opacity: 1;
    color: white;
    transition-duration: 300ms;
    margin-top: 3rem;
    display: inline-block;
    letter-spacing: 0px;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-right: 1rem;
}
.secondary-button {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    padding: 1rem 2.5rem;
    font-weight: 600;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: var(--secondary-color);
    --tw-text-opacity: 1;
    color: white;
    transition-duration: 300ms;
    margin-top: 3rem;
    display: inline-block;
    letter-spacing: 0px;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-right: 1rem;
}

.landing-page {
    display: flex;
    align-items: center;
    height: 90vh;
    width: 100%;
    justify-content: space-between;
}
.landing-page .left{
    width: 50%;
}
.landing-page .right{
    width: 50%;
}
.heading{
    font-size: 4rem;
    color: var(--primary-color);
    font-weight: bold;
}
.para {
    font-size: 1rem;
    color: var(--secondary-color);
    font-weight: 500;
}
.sub-heading{
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: bold;
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem 0;
}
.step-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    border-radius: .25rem;
    width: 50%;
    margin: 1rem;
}
.sell-scarp-steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.step-card .card-h{
    font-size: 1.5rem;
    font-weight: bold;
}
.center-line{
    position: absolute;
    height: 90%;
    width: 4px;
    background: #6415ff;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
}
.service-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    border-radius: .25rem;
    width: 25%;
    margin: 1rem;
    align-items: center;
    box-shadow: 2px 6px 41px 0 rgb(0 0 0 / 15%);
    padding: 2rem;
    border-radius: 10px;
}
.service-card h3{
    font-size: 1.2rem;
    font-weight: bold;
}
.service-card p {
    color: var(--secondary-color);
}
.service-card img {
    width: 4rem;
}
.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.primary-button-two {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    padding: 0.5rem;
    font-weight: 600;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: var(--primary-color);
    --tw-text-opacity: 1;
    color: white;
    transition-duration: 300ms;
    /* margin-top: 3rem; */
    display: inline-block;
    letter-spacing: 0px;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-right: 1rem;
    font-size: 14px;
}
.secondary-button-two {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    padding: 0.5rem;
    font-weight: 600;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: var(--secondary-color);
    --tw-text-opacity: 1;
    color: white;
    transition-duration: 300ms;
    /* margin-top: 3rem; */
    display: inline-block;
    letter-spacing: 0px;
    border: none;
    text-align: center;
    cursor: pointer;
    /* margin-right: 1rem; */
    font-size: 14px;
}
.bg-dark {
    width: 100%;
    position: fixed;
    z-index: 999999;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-form {
    width: 70%;
    border: 1px solid var(--secondary-color);
    height: 100%;
    padding: 2rem;
    border-radius: 5px;
    background: #6415ff17;
}
.input-field{
    margin-bottom: 1rem;
}
.input-field h3{
    font-size: 1rem;
    color: var(--form-primary);
    font-weight: 500;
}
.main-form input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    border: 1px solid #bc42b0;
    padding: 3px 10px;
    border-radius: 5px;
    color: #bc42b0;
    outline: none;
}
.scrap-buttons {
    background: #2125291f;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.scrap-button {
    margin: 10px;
}
.scrap {
    display: flex;
    align-items: center;
    background: #4a5568;
    color: white;
    font-weight: 500;
    font-size: 14px;
    width: 10rem;
    padding: 0;
    justify-content: space-between;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.scrap button {
    color: white;
    background: #0000008a;
    border: navajowhite;
    font-weight: bold;
    height: 100%;
    width: 15%;
}
.scrap p{
    margin-bottom:0 ;
    text-align: center;
}
.active {
    color: #fff;
    background: #4a55687d;
    border-radius: 10px;
    font-weight: 500;
}
.profile-card {
    display: flex;
    align-items: center;
    justify-content: center;
}
.transactions {
    padding: 1rem;
    height: 75vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #4a556823;
    border-radius: 10px;
}
.transactions .transaction {
    margin-bottom: 1rem;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    border-radius: 10px;
}
.Donate {
    background: #03A9F4;
}
.Confirm {
    background: #4CAF50;
}
.Pending {
    background: orange;
}
.login_register{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}
.login_register .left{
    flex: 0.70;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login_register .left a{
    font-size: 3rem;
    font-weight: bold;
    color: #4c56c0;
    text-decoration: none;
}
.login_register .left h3{
    font-weight: bold;
    color: #776fa0;
}
.login_register .right{
    height: 100%;
    flex: 0.30;
    background: #4c56c0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 1rem;
}
.login_register .right h2{
    color: white;
    font-weight: 400;
}
.login_register .right h4{
    color: white;
    font-weight: 100;
    margin-top: 0;
}

.login_register .right .inputfields{
    margin-bottom: 1rem;
}
.login_register .right .inputfields p{
    margin: 0;
    color: white;
    font-weight: 100;
}
.login_register .right .inputfields input{
    outline: none;
    padding: 10px 1rem;
    border: none;
    border-radius: 5px;
    background: #3c46a7;
    color: white;
    width: 90%;
}
.login_register .right button{
    border: none;
    padding: 10px;
    width: 50%;
    margin-top: 1rem;
    border-radius: 25px;
    background: #f9617d;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
.login_register .right button:hover{
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 10%);
}
.login_register .right .para{
    font-size: 1rem;
    color: white;
}
.login_register .right .para a{
    color: #ffc107;
    font-weight: 500;
    text-decoration: none;
}
@media only screen and (max-width:900px){
    .login_register .left{
        display: none;
    }
    .login_register .right{
        flex: 1;
    }
}
.login_register .left h3{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    width: 70%;
}
.login_register {
    height: 92.3vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    margin-top: -2rem;
    z-index: 100000000;
}
.login_register .right h4 {
    font-size: 1rem;
}
.login_register .right .inputfields input {
    outline: none;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: #3c46a7;
    color: white;
    width: 90%;
}